@font-face {
    font-family: "font-1";
    src: url();
  }
  @font-face {
    font-family: "font-2";
    src: url();
  }
  @font-face {
    font-family: "font-3";
    src: url();
  }
  
  $font-1: "font-1", sans-serif;
  $font-2: "font-2", serif;
  $font-3: "font-3", serif;
  
  